<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<header>
    <h2>Home Page</h2>
    <nav>
        <ul>
            <li><a href="Home.asp">Home</a></li>
            <li><a href="Loan.asp">Loan</a></li>
            <li><a href="SearchBooks.asp">Search Books</a></li>
            <li><a href="UserProfile.asp">User Profile</a></li>
        </ul>
    </nav>
</header>

<form action="#" method="POST">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="">
    </div>
    <div class="form-group">
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass" value="">
    </div>
    <input type="submit" value="Sign In">
</form>
</body>
</html>
